// Buttons
//———————————————————————
@import '../base/variables';
@import '../base/mixins';
$button-bg-color: #ff0081 * $bg-color;
//———————————————————————
.btn {
  font-family: $font-family;
  font-size: $font-size-lg;
  padding: $unit-3 $unit-9;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg-color;
  color: $light;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in;
  &:focus {
    outline: 0;
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $bg-color 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $bg-color 20%, transparent 30%),
    radial-gradient(circle, $bg-color 20%, transparent 20%), 
    radial-gradient(circle, $bg-color 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $bg-color 15%, transparent 20%),
    radial-gradient(circle, $bg-color 20%, transparent 20%),
    radial-gradient(circle, $bg-color 20%, transparent 20%),
    radial-gradient(circle, $bg-color 20%, transparent 20%),
    radial-gradient(circle, $bg-color 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $bg-color 20%, transparent 20%), 
    radial-gradient(circle, $bg-color 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $bg-color 15%, transparent 20%),
    radial-gradient(circle, $bg-color 20%, transparent 20%),
    radial-gradient(circle, $bg-color 20%, transparent 20%),
    radial-gradient(circle, $bg-color 20%, transparent 20%),
    radial-gradient(circle, $bg-color 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg-color, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

  // Button Colors
  @for $number from 1 to 9 {
    $a: nth($colorname, $number);
    $b: nth($colorvalue,$number);
    $c: mix($dark,$b,15%);
    &.is-#{$a} {
        background-color: $b;
        border: $c;
        color: $light;
        &:focus,
        &:hover {
          background-color: mix($dark,$c,5%);
          border: $c;
          color: $light;
        }
        &:active,
        &.active {
          background-color: mix($dark,$c,5%);
          border: $c;
          color: $light;
        }
        &.is-loading {
          &::after {
            border-color: transparent transparent $c $c !important;
          }
        }
  
        &.is-outlined {
          background-color: transparent;
          border-color: $b;
          color: $b;
  
          &:hover,
          &:focus {
            background-color: $b;
            border-color: $b;
            color: $c;
          }
  
          &.is-loading {
            &::after {
              border-color: transparent transparent $b $b !important;
            }
          }
  
          &[disabled] {
            background-color: transparent;
            border-color: $b;
            box-shadow: none;
            color: $b;
          }
        }
  
        &.is-outlined {
          background-color: transparent;
          border-color: $c;
          color: $c;
  
          &:hover,
          &:focus {
            background-color: $c;
            color: $b;
          }
  
          &[disabled] {
            background-color: transparent;
            border-color: $c;
            box-shadow: none;
            color: $c;
          }
        }
    }
  &.is-static {
    background-color: $white;
    border-color: $gray-light;
    color: $gray;
    box-shadow: none;
    pointer-events: none;
  }

  &.is-rounded {
    border-radius: $radius-rounded;
    padding-left: 1em;
    padding-right: 1em;
  }
}

  // Button Sizes
  &.btn-sm {
    @include button-small;
  }

  &.is-medium {
    @include button-medium;
  }

  &.btn-lg {
    @include button-large;
  }

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .button {
    margin-bottom: 0.5rem;

    &:not(:last-child):not(.is-fullwidth) {
      margin-right: 0.5rem;
    }
  }

  &:last-child {
    margin-bottom: -0.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.has-addons {
    .button {
      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: -1px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.is-hovered {
        z-index: 2;
      }

      &:focus,
      &.is-focused,
      &:active,
      &.is-active,
      &.is-selected {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }

      &.is-expanded {
        flex-grow: 1;
      }
    }
  }

  &.is-centered {
    justify-content: center;
  }

  &.is-right {
    justify-content: flex-end;
  }
}


}