.btn {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 0.9rem;
  padding: 0.6rem 1.8rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: magenta;
  color: #FFFFFB;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in;
  transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in;
  -o-transition: transform ease-in 0.1s, box-shadow ease-in;
  transition: transform ease-in 0.1s, box-shadow ease-in;
  transition: transform ease-in 0.1s, box-shadow ease-in, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in; }
  .btn:focus {
    outline: 0; }
  .btn:before, .btn:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat; }
  .btn:before {
    display: none;
    top: -75%;
    background-image: -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, transparent 20%, #b0b0b0 20%, transparent 30%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, transparent 10%, #b0b0b0 15%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%);
    background-image: -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, transparent 20%, #b0b0b0 20%, transparent 30%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, transparent 10%, #b0b0b0 15%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%);
    background-image: radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, transparent 20%, #b0b0b0 20%, transparent 30%), radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, transparent 10%, #b0b0b0 15%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; }
  .btn:after {
    display: none;
    bottom: -75%;
    background-image: -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, transparent 10%, #b0b0b0 15%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -webkit-radial-gradient(circle, #b0b0b0 20%, transparent 20%);
    background-image: -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, transparent 10%, #b0b0b0 15%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%), -o-radial-gradient(circle, #b0b0b0 20%, transparent 20%);
    background-image: radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, transparent 10%, #b0b0b0 15%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%), radial-gradient(circle, #b0b0b0 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%; }
  .btn:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #e600e6;
    -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2); }
  .btn.animate:before {
    display: block;
    -webkit-animation: topBubbles ease-in-out 0.75s forwards;
    animation: topBubbles ease-in-out 0.75s forwards; }
  .btn.animate:after {
    display: block;
    -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
    animation: bottomBubbles ease-in-out 0.75s forwards; }

.btn-white {
  background-color: #FFF;
  border: #e6e6e6;
  color: #FFFFFB; }
  .btn-white:focus, .btn-white:hover {
    background-color: #dbdbdb;
    border: #e6e6e6;
    color: #FFFFFB; }
  .btn-white:active, .btn-white.active {
    background-color: #dbdbdb;
    border: #e6e6e6;
    color: #FFFFFB; }
  .btn-white.loading::after {
    border-bottom: #FFFFFB;
    border-left: #FFFFFB; }

.btn-black {
  background-color: #080808;
  border: #080808;
  color: #FFFFFB; }
  .btn-black:focus, .btn-black:hover {
    background-color: #080808;
    border: #080808;
    color: #FFFFFB; }
  .btn-black:active, .btn-black.active {
    background-color: #080808;
    border: #080808;
    color: #FFFFFB; }
  .btn-black.loading::after {
    border-bottom: #FFFFFB;
    border-left: #FFFFFB; }

.btn-pink {
  background-color: #F596AA;
  border: #dd889a;
  color: #FFFFFB; }
  .btn-pink:focus, .btn-pink:hover {
    background-color: #d28293;
    border: #dd889a;
    color: #FFFFFB; }
  .btn-pink:active, .btn-pink.active {
    background-color: #d28293;
    border: #dd889a;
    color: #FFFFFB; }
  .btn-pink.loading::after {
    border-bottom: #FFFFFB;
    border-left: #FFFFFB; }

.btn-warning {
  background-color: #FFB11B;
  border: #e6a019;
  color: #FFFFFB; }
  .btn-warning:focus, .btn-warning:hover {
    background-color: #db9818;
    border: #e6a019;
    color: #FFFFFB; }
  .btn-warning:active, .btn-warning.active {
    background-color: #db9818;
    border: #e6a019;
    color: #FFFFFB; }
  .btn-warning.loading::after {
    border-bottom: #FFFFFB;
    border-left: #FFFFFB; }

.btn-link {
  background-color: #0F2540;
  border: #0e223a;
  color: #FFFFFB; }
  .btn-link:focus, .btn-link:hover {
    background-color: #0e2138;
    border: #0e223a;
    color: #FFFFFB; }
  .btn-link:active, .btn-link.active {
    background-color: #0e2138;
    border: #0e223a;
    color: #FFFFFB; }
  .btn-link.loading::after {
    border-bottom: #FFFFFB;
    border-left: #FFFFFB; }

.btn-info {
  background-color: #005CAF;
  border: #01549e;
  color: #FFFFFB; }
  .btn-info:focus, .btn-info:hover {
    background-color: #015097;
    border: #01549e;
    color: #FFFFFB; }
  .btn-info:active, .btn-info.active {
    background-color: #015097;
    border: #01549e;
    color: #FFFFFB; }
  .btn-info.loading::after {
    border-bottom: #FFFFFB;
    border-left: #FFFFFB; }

.btn-link {
  background: transparent;
  border: transparent;
  color: #0F2540; }
  .btn-link:focus, .btn-link:hover, .btn-link:active, .btn-link.active {
    color: #0c1e34; }

.btn-sm {
  font-size: 0.7rem;
  height: 1.4rem;
  padding: 0.05rem 0.3rem; }

.btn-lg {
  font-size: 0.9rem;
  height: 2rem;
  padding: 0.35rem 0.6rem; }

.btn-block {
  display: block;
  width: 100%; }

.btn-action {
  width: 1.8rem;
  padding-left: 0;
  padding-right: 0; }
  .btn-action.btn-sm {
    width: 1.4rem; }
  .btn-action.btn-lg {
    width: 2rem; }

.btn-clear {
  background: transparent;
  border: 0;
  color: currentColor;
  height: 1rem;
  line-height: 0.8rem;
  margin-left: 0.2rem;
  margin-right: -2px;
  opacity: 1;
  padding: 0.1rem;
  text-decoration: none;
  width: 1rem; }
  .btn-clear:focus, .btn-clear:hover {
    background: rgba(176, 176, 176, 0.5);
    opacity: .95; }
  .btn-clear::before {
    content: "\2715"; }

.btn-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .btn-group .btn {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
    .btn-group .btn:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .btn-group .btn:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: -0.05rem; }
    .btn-group .btn:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -0.05rem; }
    .btn-group .btn:focus, .btn-group .btn:hover, .btn-group .btn:active, .btn-group .btn.active {
      z-index: 1; }
  .btn-group.btn-group-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .btn-group.btn-group-block .btn {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0; }


