// 颜色
// 用来处理颜色有关修饰符
//———————————————————————
@import 'variables';
//———————————————————————
// 颜色 is-bg-color
@for $number from 1 to 7 {
    $a: nth($colorname, $number);
    $b: nth($colorvalue, $number);
    $c: darken($b, 10%);

    .is-#{$a} {
        color: $b;
    }

    .is-bg-#{$a} {
        background-color: $b;
    }

    .is-#{$a}-dark {
        color: $c;
    }

    .is-bg-#{$a}-dark {
        background-color: $c;
    }
}