// color.scss
//日本传统颜色
$momo: #F596AA; //桃
$sakura: #FEDFE1; //桜
$kurenai: #CB1B45; //紅
$akabono: #F19483; //曙
$ake: #CC543A; //緋
$shishi: #F0A986; //宍
$kurumi: #947A6D; //胡(桃)
$yamabuki: #FFB11B; //山吹
$nae: #838A2D; //苗
$midori: #227D51; //緑
$tetsu: #26453D; //鉄
$mizu: #81C7D4; //水
$ai: #0D5661; //藍
$sora: #58B2DC; //空
$hanada: #006284; //縹
$kon: #0F2540; //紺
$kachi: #08192D; //褐
$ruri: #005CAF; //瑠璃
$fuji: #8B81C3; //藤
$kikyo: #6A4C9C; //桔梗
$shion: #8F77B5; //紫苑
$sumire: #66327C; //菫
$hai: #828282; //灰
$murasaki: #592C63; //紫
$sumi: #1C1C1C; //墨
$kuro: #080808; //黑
$kurotobi: #554236; //黒鳶
$hanaba: #F7C242; //花葉

$light: #FFFFFB !default;
$white: #FFF !default;
$black: $kuro !default;
$pink: $momo !default;
$warning: $yamabuki !default;
$link: $kon !default;
$info: $ruri !default;
$primary: #5755d9 !default;
$dark: rgb(40, 44, 52) !default;
$gray: $hai !default;
$cisable:$kurotobi !default;
$error:$ake !default;
$success:$hanaba !default;

$gray: lighten($dark, 40%) !default;
$gray-dark: darken($gray, 25%) !default;
$gray-light: lighten($gray, 20%) !default;

$border: lighten($dark, 60%) !default;
$border-dark: darken($border, 10%) !default;
$bg-color: lighten($dark, 66%) !default;
$bg-color-dark: darken($bg-color, 10%) !default;
$bg-color-light: lighten($bg-color, 10%) !default;

$primary-color: $primary;
$primary-dark: darken($primary, 3%) !default;
$primary-light: lighten($primary, 3%) !default;
$secondary: lighten($primary, 37.5%) !default;
$secondary-dark: darken($secondary, 3%) !default;
$secondary-light: lighten($secondary, 3%) !default;

$colorvalue:($white,
$black,
$pink,
$warning,
$link,
$info,
$primary,
$dark, );

$colorname: (white,
black,
pink,
warning,
link,
info,
primary,
dark, );
// text.scss
$font-color-light: #EEE !default;
$font-color: #333 !default;
$font-size: 1.2em !default;
$line-height: 1.5em !default;
$font-size: 1.2rem !default;
$font-size-sm: 1.5rem !default;
$font-size-lg: 1.8rem !default;
$line-height: 1.2rem !default;

$font-family: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto !default;
$mono-font-family: "SF Mono",
"Segoe UI Mono",
"Roboto Mono",
Menlo,
Courier,
monospace !default;
$fallback-font-family: "Helvetica Neue",
sans-serif !default;
$cjk-zh-hans-font-family: $font-family,
"PingFang SC",
"Hiragino Sans GB",
"Microsoft YaHei" !default;
$cjk-zh-hant-font-family: $font-family,
"PingFang TC",
"Hiragino Sans CNS",
"Microsoft JhengHei" !default;
$cjk-jp-font-family: $font-family,
"Hiragino Sans",
"Hiragino Kaku Gothic Pro",
"Yu Gothic",
YuGothic,
Meiryo !default;
$cjk-ko-font-family: $font-family,
"Malgun Gothic" !default;

// Unit sizes
$unit-o: .05em !default;
$unit-h: .1em !default;
$unit-1: .2em !default;
$unit-2: .4em !default;
$unit-3: .6em !default;
$unit-4: .8em !default;
$unit-5: 1em !default;
$unit-6: 1.2em !default;
$unit-7: 1.4em !default;
$unit-8: 1.6em !default;
$unit-9: 1.8em !default;
$unit-10: 2em !default;
$unit-12: 2.4em !default;
$unit-16: 3.2em !default;

// Sizes
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;
$border-radius: $unit-h !default;
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default;
$control-size: $unit-9 !default;
$control-size-sm: $unit-7 !default;
$control-size-lg: $unit-10 !default;
$control-padding-x: $unit-2 !default;
$control-padding-x-sm: $unit-2 * .75 !default;
$control-padding-x-lg: $unit-2 * 1.5 !default;
$control-padding-y: ($control-size - $line-height) / 2 - $border-width !default;
$control-padding-y-sm: ($control-size-sm - $line-height) / 2 - $border-width !default;
$control-padding-y-lg: ($control-size-lg - $line-height) / 2 - $border-width !default;
$control-icon-size: .8rem !default;

$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-xs !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;